.idea/
dist/
node_modules/
``
sftp-config.json
log
npm-debug.log
coverage
lerna-debug.log
.DS_Store
.wepycache
package-lock.json
bash.exe.stackdump
base.dev.conf.js
dev.conf.js
dev.js
*.bat
src/manifest.json
*.local
src/pages.json
yarn.lock
package-lock.json